@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .marquee {
      animation: marquee 15s linear infinite;
    }
  
    .pause-animation:hover {
      animation-play-state: paused;
    }
  
    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
  